@font-face {
  font-family: Cursed Timer ULiL;
  src: url("fonts/Cursed_Timer_ULiL/CursedTimerULiL.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  color: #eeeeee;
}

h3 {
  color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-top: 68px;
  margin-bottom: 21px;
}

span {
  display: block;
  margin: 0;
  font-size: 90px;
  color: #f94f6d;
  font-family: "Cursed Timer ULiL";
  text-align: center;
  background-color: #080001;
  line-height: 141%;
}

ol {
  list-style: none;
}

#home-buttons ol,
#guest-buttons ol {
  display: flex;
  padding: 0;
}

#home-buttons ol li button,
#guest-buttons ol li button {
  font-family: "Cursed Timer ULiL";
  color: #9aabd8;
  background-color: #1b244a;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
}

#home-buttons ol li button:hover,
#guest-buttons ol li button:hover {
    cursor: pointer;
    background-color: #3f4870;
 

}

.container {
  display: flex;
  justify-content: space-around;
  background-color: #1b244a;
  height: 385px;
  width: 575px;
  margin: auto;
}
